@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&display=swap);* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html,body {
    height: 100%;
    color: #63462e
}

body {
    background: url(../images/pozadina.webp)
}

#glavni {
    width: 100%;
    height: auto
}

#prviDeo,#drugiDeo {
    width: 100%;
    height: auto;
    display: flex;
    position: relative
}

.prviUkras {
    width: 250px;
    position: absolute;
    top: 60;
    right: 33%
}

.glavnaSlika {
    width: 370px;
    margin: 50px auto;
    z-index: 2
}

.sati {
    font-size: 40px;
    font-family: "Cormorant Garamond",serif;
    color: #be7735
}

.buketPrvi {
    position: absolute;
    left: -140px;
    width: 600px
}

#prviTekst {
    text-align: center
}

.tekstPrvi {
    font-family: "Montserrat",sans-serif;
    color: #63462e;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1.4
}

.tekstPisan {
    font-family: "Parisienne",cursive;
    color: #63462e;
    font-size: 60px;
    font-weight: 400;
    margin: 0;
    position: relative;
    z-index: 99;
    text-shadow: .8px .8px 0 #ffffff,-.8px .8px 0 #ffffff,.8px -.8px 0 #ffffff,-.6px -.8px 0 #fff
}

.tekstIspod {
    font-family: "Montserrat",sans-serif;
    color: #63462e;
    font-size: 14px;
    width: 450px;
    margin: 20px auto;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.2
}

#potvrdaTekst {
    margin: 50px auto 10px auto;
    font-family: "Parisienne",cursive;
    text-align: center;
    width: 300px;
    color: #be7735;
    font-size: 28px
}

#potvrdaTimer {
    text-align: center;
    font-size: 15px;
    margin-bottom: 100px
}

.drugiListovi {
    position: absolute;
    width: 100%;
    top: -10px
}

.drugiGlavnaSlika {
    width: 700px;
    margin: 50px auto;
    z-index: 2
}

.drugiBuket {
    position: absolute;
    width: 300px;
    right: 26%;
    top: 75px;
    z-index: 0
}

.treciCvet {
    width: 250px;
    position: absolute;
    left: 40px;
    top: -20px
}

#treciDeo {
    margin-top: 50px;
    top: 0;
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 70px
}

.treciList {
    position: absolute;
    right: 0;
    top: -150px;
    width: 280px
}

.treciListManji {
    width: 150px
}

.treciDatum {
    font-size: 38px;
    font-family: "Cormorant Garamond",serif;
    margin-top: 10px;
    position: relative;
    z-index: 99
}

#svatovi {
    background: url(../images/svatovi.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.delovi {
    text-align: center;
    width: 100%;
    padding: 60px 0
}

.delovi img {
    width: 100px;
    margin: 10px auto
}

.delovi h1 {
    font-family: "Cormorant Garamond",serif;
    font-size: 45px;
    width: 260px;
    font-weight: 300;
    text-shadow: 1px 1px 0 #efe8de,-1px 1px 0 #efe8de,1px -1px 0 #efe8de,-1px -1px 0 #efe8de
}

.delovi h1,.delovi p {
    margin: 20px auto
}

.delovi a {
    font-family: "Montserrat",sans-serif;
    color: #63462e;
    letter-spacing: 1.2
}

.delovi a:hover {
    color: #be7735;
    transition: 0.2s
}

#crkva {
    background: url(../images/crkva.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

#gradjansko {
    background: url(../images/vencanje.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

#proslava {
    background: url(../images/svecanaProslava.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

#potvrda {
    background: url(../images/potvrda_pozadina.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0
}

#potvrda h1 {
    text-align: center
}

form {
    width: 40%;
    margin: auto
}

ul {
    list-style-type: none
}

form input,textarea,select {
    width: 100%;
    margin-top: 5px;
    padding: 7px;
    background-color: #efd4b9;
    border: 1px solid #63462e9f;
    color: #000
}

form ul li {
    width: 100%;
    margin-bottom: 30px
}

#potvrda .tekstPisan {
    margin-bottom: 25px
}

.dugme {
    padding: 10px 30px;
    background-color: #f3f2ee;
    border: 1px solid #63462e9f;
    font-family: "Cormorant Garamond",serif;
    cursor: pointer;
    font-size: 20px;
    color: #63462e
}

.dugme:hover {
    background-color: #63462e9f;
    color: #f3f2ee;
    transition: 0.3s
}

.radioDugme {
    width: auto
}

.radioRed {
    display: block
}

form span {
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-weight: 400
}

input[type="radio"] {
    background-color: #f3f2ee;
    border: 1px solid #63462e9f;
    padding: 5px;
    width: auto
}

.spanRadio {
    display: flex;
    justify-content: start
}

.maliSpan {
    margin-top: 2px;
    font-size: 12px
}

#tajmer {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #E8E6E3;
    padding: 100px 0;
    font-family: "Parisienne",cursive
}

#tajmer .drugiListovi {
    top: 120px;
    left: 0
}

#galerija {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #E8E6E3;
    padding: 100px 0
}

#galerija .drugiListovi {
    top: 120px;
    left: 0
}

add-to-calendar-button#css-part-example::part(atcb-button) {
    background-color: #63462e;
    color: #fff
}

#dugmeGalerija {
    margin: 80px auto 30px auto;
    position: relative;
    z-index: 99
}

#dugmeGalerija a {
    font-size: 15px;
    padding: .8em;
    border-radius: 6px;
    font-family: "Montserrat",sans-serif;
    background-color: #63462e;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(0 0 0 / 10%) 0 4px 10px -2px,rgba(0 0 0 / 15%) 0 2px 2px -1px;
    border: 1px solid #d2d2d2
}

#dugmeGalerija a:hover {
    box-shadow: rgba(0 0 0 / 25%) 0 5px 12px -2px,rgba(0 0 0 / 25%) 0 3px 5px -2px
}

#dugmeGalerija i {
    margin-right: 5px;
    color: #fff
}

#podsetnik {
    margin: auto
}

#dostupno,#nedostupno {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    margin: 4.5px
}

#nedostupno {
    background-color: #be0a0a!important
}

#dugmeGalerija p {
    margin-top: 20px;
    font-size: 15px;
    display: flex;
    justify-content: center
}

#ukras {
    width: 300px;
    margin: 50px auto
}

#ukras img {
    width: 100%
}

#demo {
    font-family: "Montserrat",sans-serif;
    font-size: 65px;
    margin: 70px 0 40px 0;
    color: #63462e;
    position: relative;
    z-index: 99
}

footer {
    width: 100%;
    background-color: #ccae92;
    padding: 60px 0;
    display: flex;
    justify-content: center
}

footer a img {
    width: 250px
}

.footerLink {
    font-size: 13px;
    color: #fff;
    font-family: "Montserrat",sans-serif
}

footer ul li {
    text-align: center
}

.player {
    width: 90%;
    max-width: 300px;
    height: 438px;
    overflow: hidden;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 10px 10px 10px rgb(0 0 0 / .05);
    position: relative;
    background: rgb(255 255 255 / .1);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / .37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    border: 1px solid rgb(255 255 255 / .18);
    margin: 100px auto 150px auto
}

.header {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    border-bottom: 1px solid #f5f5f5;
    font-size: 20px;
    font-weight: 700;
    color: #fff
}

.header span {
    color: #63462e
}

.img {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 50%;
    background: linear-gradient(120deg,#ffa17f,#63462e);
    overflow: hidden;
    margin-top: 15px
}

.img img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    object-fit: cover;
    z-index: 9999
}

.img img.play {
    animation: 15s rotate linear infinite
}

.greska {
    font-size: 13px;
    color: #be0a0a
}

.buttonDisable {
    cursor: not-allowed
}

.message {
    padding: 10px;
    margin: 50px 0;
    border: 1px solid #fff0;
    border-radius: 4px
}

.message.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.message.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.details {
    text-align: center
}

.details p {
    color: #777;
    font-size: 15px;
    margin-top: 5px
}

.action {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center
}

.action button {
    background: #fff;
    box-shadow: 5px 5px 10px 5px rgb(0 0 0 / .028);
    border-radius: 50%;
    padding: 10px;
    font-size: 28px;
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    margin: 10px;
    border: 2px solid #f8f8f8;
    cursor: pointer;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center
}

.action button.play {
    background: linear-gradient(135deg,#ffa17f,#63462e);
    color: #fff
}

.time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 10px auto;
    width: 90%;
    color: #777
}

#progress {
    margin: 0 auto;
    display: block;
    width: 90%;
    -webkit-appearance: none;
    height: 6px;
    background: #f7f7f7
}

#progress::-webkit-slider-thumb {
    background: #63462e;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    background: linear-gradient(135deg,#d4c2b3,#63462e);
    transition: 0.2s ease-in-out
}

@media (max-width: 1100px) {
    #prviTekst {
        margin-top:95px
    }

    form {
        width: 50%
    }
}

@media (max-width: 800px) {
    .drugiGlavnaSlika {
        width:100%
    }

    form {
        width: 60%
    }
}

@media (max-width: 600px) {
    .tekstPisan {
        font-size:50px
    }

    #demo {
        font-size: 50px
    }

    .tekstIspod {
        width: 90%;
        margin: auto;
        font-size: 13px
    }

    #treciDeo {
        padding: 90px 0
    }

    .treciList {
        top: 250px;
        width: 170px
    }

    .treciCvet {
        width: 170px;
        left: 40px;
        top: -126px
    }

    .treciListManji {
        width: 100px;
        margin-top: 20px
    }

    .delovi img {
        width: 85px
    }

    .delovi h1 {
        font-size: 40px
    }

    .sati {
        font-size: 35px
    }

    .delovi a {
        font-size: 15px
    }

    form {
        width: 80%
    }

    footer a img {
        width: 200px
    }

    #tajmer .drugiListovi {
        top: 200px
    }

    #potvrdaTekst {
        font-size: 20px;
        width: 250px
    }

    #galerija .drugiListovi {
        top: 220px
    }

    #ukras {
        width: 220px
    }
}

@media (max-width: 500px) {
    .tekstPrvi {
        font-size:16px
    }

    .tekstPisan {
        font-size: 45px
    }

    #demo {
        font-size: 40px
    }

    .treciList {
        top: 290px;
        width: 150px
    }

    .treciCvet {
        width: 145px;
        top: -100px
    }

    .buketPrvi {
        width: 550px
    }
}

@media (max-width: 450px) {
    .buketPrvi {
        width:500px
    }

    .glavnaSlika {
        width: 88%
    }

    #prviTekst {
        margin-top: 30px
    }
}

@media (max-width: 400px) {
    #prviTekst {
        margin-top:100px
    }
}

@media (max-width: 390px) {
    .buketPrvi {
        width:430px
    }
}
