@import url(https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap);* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html,body {
    height: 100%;
    font-family: "Open Sans",sans-serif;
    color: #fff
}

ul {
    list-style-type: none
}

body {
    background-color: #867978
}

#prviDeo {
    width: 100%;
    text-align: center;
    position: relative
}

.gornjiPatern {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0
}

#tekstCrtice {
    margin-top: 20%
}

.container {
    display: flex;
    align-items: center;
    width: 40%;
    margin: auto;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300
}

.line {
    flex: 1;
    height: 2px;
    background-color: #c8a4a1
}

.left {
    margin-right: 20px
}

.right {
    margin-left: 20px
}

#naslovVeliki {
    width: 75%;
    margin: 100px auto
}

.textPoslednjiPrviDeo {
    font-size: 30px;
    font-weight: 300;
    width: 411px;
    margin: auto
}

#naslovna {
    width: 50%;
    margin: 50px auto;
    text-align: center
}

#naslovnaBox {
    position: relative
}

#naslovnaBox p {
    position: absolute;
    bottom: 31%;
    left: 50%;
    transform: translate(-50%);
    font-size: 70px;
    color: #fff;
    font-family: "Great Vibes",cursive
}

.vinjeta {
    width: 400px;
    margin-bottom: 70px
}

#tajmer {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px
}

#tajmer h1,#galerija h1 {
    font-size: 90px;
    margin: 0 auto;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 70px;
    font-family: "Great Vibes",cursive
}

#galerija {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 90px 0 0 0
}

#dugmeGalerija {
    margin: 100px auto 30px auto;
    position: relative;
    z-index: 99
}

#dostupno,#nedostupno {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    margin: 4.5px
}

#nedostupno {
    background-color: #be0a0a!important
}

add-to-calendar-button#css-part-example::part(atcb-button) {
    background-color: #c8a4a1;
    color: #fff
}

#dugmeGalerija p {
    margin-top: 20px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    color: #fff;
    margin-bottom: 100px
}

#dugmeGalerija a {
    font-size: 15px;
    padding: .8em;
    border-radius: 6px;
    font-family: "Montserrat",sans-serif;
    background-color: #c8a4a1;
    color: #fff;
    text-decoration: none;
    letter-spacing: .5px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(0 0 0 / 10%) 0 4px 10px -2px,rgba(0 0 0 / 15%) 0 2px 2px -1px;
    border: 1px solid #d2d2d2
}

#dugmeGalerija a:hover {
    box-shadow: rgba(0 0 0 / 25%) 0 5px 12px -2px,rgba(0 0 0 / 25%) 0 3px 5px -2px
}

#dugmeGalerija i {
    margin-right: 5px;
    color: #fff
}

.tajmerDiv {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    font-size: 80px;
    font-family: "Great Vibes",cursive
}

.box {
    width: 100%
}

.transparenti {
    font-size: 30px;
    font-weight: 400;
    font-family: "Open Sans",sans-serif;
    margin-bottom: 80px
}

.transparenti .box {
    border: none
}

.sat .box {
    border-bottom: 3px solid;
    border-image: linear-gradient(to right,#e9d0cf,#c19b98);
    border-image-slice: 1;
    margin: 20px
}

.elementVreme h1:first-of-type {
    font-family: "Great Vibes",cursive
}

.elementVreme p {
    margin: 5px
}

.elementVreme h1 {
    font-size: 60px;
    font-weight: 300
}

.elementVreme {
    margin: 220px auto;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    position: relative;
    z-index: 99
}

.elementVreme img {
    width: 170px;
    margin-bottom: 10px
}

.elementVreme a {
    color: #c8a4a1;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400
}

.elementVreme a:hover {
    color: #fff;
    transition: 0.3s
}

#vremeDatum {
    position: relative;
    width: 100%
}

.slikaGore,.slikaDole {
    position: absolute;
    width: 400px
}

.sati {
    color: #f2f2f2;
    font-size: 40px;
    font-weight: 100
}

.levoUkras {
    position: absolute;
    top: 0;
    left: 0
}

.desnoUkras {
    position: absolute;
    top: 0;
    right: 0
}

.desnoUkrasDole {
    position: absolute;
    bottom: -800px;
    right: 0
}

#potvrda {
    margin: 200px 0;
    position: relative
}

#ram {
    position: relative;
    width: 100%;
    top: 0
}

#potvrdaTekst {
    margin: 60px auto 0 auto;
    text-align: center;
    width: 300px;
    color: #fff;
    font-size: 25px;
    display: none
}

#potvrdaTimer {
    text-align: center;
    margin-top: 5px;
    display: none
}

#potvrdaTekstGore {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    font-size: 22px;
    text-align: center;
    color: #fff
}

#potvrdaTimerGore {
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 17px
}

form {
    width: 60%;
    margin: auto;
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff
}

ul {
    list-style-type: none
}

form input,textarea,select {
    width: 100%;
    margin-top: 5px;
    padding: 7px;
    background-color: #efd4b9;
    border: 1px solid #63462e9f;
    border-radius: 20px
}

form ul li {
    width: 100%;
    margin-bottom: 30px
}

#potvrda .tekstPisan {
    font-size: 80px;
    margin-bottom: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: "Pinyon Script",cursive
}

.dugme {
    padding: 10px 30px;
    background-color: #f3f2ee;
    border: 1px solid #63462e9f;
    cursor: pointer;
    font-size: 20px;
    color: #63462e9f;
    border-radius: 20px
}

.dugme:hover {
    background-color: #63462e9f;
    color: #f3f2ee;
    transition: 0.3s
}

.radioDugme {
    width: auto
}

.radioRed {
    display: block
}

form span {
    font-size: 16px;
    font-weight: 400
}

input[type="radio"] {
    background-color: #f3f2ee;
    border: 1px solid #63462e9f;
    padding: 5px;
    width: auto
}

.greska {
    font-size: 13px;
    color: red;
    text-shadow: 1px 1px 1px #000c
}

.buttonDisable {
    cursor: not-allowed
}

.maliSpan {
    margin-top: 2px;
    font-size: 12px
}

#demo {
    font-size: 65px;
    margin: 5px 0 20px 0
}

footer {
    width: 100%;
    background-color: #6e6564;
    padding: 60px 0;
    display: flex;
    justify-content: center
}

footer a img {
    width: 250px
}

.footerLink {
    font-size: 13px;
    color: #fff
}

footer ul li {
    text-align: center
}

.player {
    width: 90%;
    max-width: 300px;
    height: 450px;
    overflow: hidden;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 10px 10px 10px rgb(0 0 0 / .05);
    position: relative;
    background: #fff0;
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / .37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    border: 1px solid rgb(255 255 255 / .18);
    margin: 100px auto 150px auto
}

.header {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    border-bottom: 1px solid #f5f5f5;
    font-size: 20px;
    font-weight: 700;
    color: #fff
}

.header span {
    color: #fff
}

.img {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 50%;
    background: linear-gradient(120deg,#ffa17f,#63462e);
    overflow: hidden;
    margin-top: 15px
}

.img img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    object-fit: cover;
    z-index: 9999
}

.img img.play {
    animation: 15s rotate linear infinite
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.details {
    text-align: center
}

.details p {
    color: #d1d1d1;
    font-size: 15px;
    margin-top: 5px
}

#title {
    color: #fff
}

.action {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center
}

.action button {
    background: #fff;
    box-shadow: 5px 5px 10px 5px rgb(0 0 0 / .028);
    border-radius: 50%;
    padding: 10px;
    font-size: 28px;
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    margin: 10px;
    border: 2px solid #f8f8f8;
    cursor: pointer;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center
}

.action button.play {
    background: linear-gradient(135deg,#ffa17f,#63462e);
    color: #fff
}

.time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 10px auto;
    width: 90%;
    color: #d1d1d1
}

#progress {
    margin: 0 auto;
    display: block;
    width: 90%;
    -webkit-appearance: none;
    height: 6px;
    background: #f7f7f7
}

#progress::-webkit-slider-thumb {
    background: #63462e;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    background: linear-gradient(135deg,#d4c2b3,#63462e);
    transition: 0.2s ease-in-out
}

.message {
    padding: 10px;
    margin: 50px 0;
    border: 1px solid #fff0;
    border-radius: 4px
}

.message.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.message.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

@media (max-width: 900px) {
    #naslovna {
        width:80%
    }

    .vinjeta {
        width: 300px
    }

    .levoUkras,.desnoUkras {
        width: 300px
    }

    .desnoUkrasDole {
        width: 300px;
        bottom: 0
    }

    .tajmerDiv {
        width: 80%
    }
}

@media (max-width: 900px) {
    #naslovVeliki {
        width:85%
    }

    form {
        top: 53%
    }

    textarea {
        height: 150px
    }
}

@media (max-width: 800px) {
    #potvrdaTekst {
        display:block
    }

    #potvrdaTimer {
        display: block
    }

    #potvrdaTekstGore {
        display: none
    }

    #potvrdaTimerGore {
        display: none
    }
}

@media (max-width: 700px) {
    #tajmer h1 {
        font-size:75px
    }

    .tajmerDiv {
        width: 85%;
        font-size: 65px
    }

    .transparenti {
        font-size: 18px
    }

    .box {
        font-size: 45px
    }

    .boxtekst {
        font-size: 16px
    }

    .sat .box {
        margin: 10px
    }

    .container {
        width: 90%;
        font-size: 28px
    }

    #tekstCrtice {
        margin-top: 25%
    }

    textarea {
        height: 120px
    }

    form {
        top: 43%
    }

    textarea {
        height: 110px
    }
}

@media (max-width: 600px) {
    #naslovna {
        width:100%
    }

    #naslovVeliki {
        width: 95%
    }

    .textPoslednjiPrviDeo,.container {
        font-size: 25px;
        width: 100%
    }

    .levoUkras,.desnoUkras {
        width: 200px
    }

    .desnoUkras {
        top: 20%
    }

    #naslovnaBox p {
        font-size: 50px
    }

    #potvrda {
        overflow: hidden;
        padding: 122px 0;
        margin: 0
    }

    #ram {
        transform: scale(1.25)
    }

    form {
        width: 75%
    }

    .elementVreme img {
        width: 150px
    }

    .elementVreme a {
        text-shadow: .6px .6px .6px #fffc
    }

    .levoUkras,.desnoUkras,.desnoUkrasDole {
        opacity: .6
    }

    .vinjeta {
        width: 220px
    }

    #naslovVeliki {
        margin: 50px auto
    }

    .elementVreme {
        margin: 150px auto
    }

    footer a img {
        width: 200px
    }

    .elementVreme h1 {
        font-size: 50px
    }

    .transparenti {
        margin-bottom: 50px
    }

    #dugmeGalerija {
        margin: 80px auto 30px auto
    }

    #dugmeGalerija p {
        margin-bottom: 80px
    }

    #potvrdaTekst {
        margin: 100px auto 40px auto;
        font-size: 21px
    }

    #potvrdaTimer {
        margin-bottom: 40px
    }

    #galerija {
        padding: 40px 0 0 0
    }
}

@media (max-width: 500px) {
    #tajmer h1,#galerija h1 {
        font-size:50px;
        margin-bottom: 40px
    }

    .tajmerDiv {
        width: 95%;
        font-size: 65px
    }

    .sat .box {
        margin: 10px 5px
    }

    #ram {
        transform: scale(1.6);
        opacity: .8;
        padding: 211px 0
    }

    form span {
        font-size: 15px
    }

    form ul li {
        margin-bottom: 20px
    }

    form {
        width: 80%
    }

    .dugme {
        padding: 8px 20px;
        font-size: 15px
    }

    textarea {
        height: 100px
    }

    #potvrda {
        padding: 52px 0
    }

    .textPoslednjiPrviDeo,.container {
        font-size: 18px;
        width: 90%
    }

    #potvrdaTekst {
        margin: 30px auto 40px auto
    }
}

@media (max-width: 400px) {
    #potvrda {
        padding:0
    }

    #ram {
        padding: 207 0
    }
}

@media (max-width: 360px) {
    form {
        top:52.5%
    }
}
