@import url(https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap);* {
    margin: 0;
    padding: 0;
    color: #c4995f;
    box-sizing: border-box
}

html,body {
    height: 100%;
    background-color: #fff;
    background: url(../images/pozadina.webp)
}

ul {
    list-style-type: none
}

#prviDeo {
    width: 100%;
    position: relative;
    text-align: center
}

#heder {
    width: 50%;
    margin: 50px auto
}

#hederTekst {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%)
}

#hederTekst h2 {
    font-family: "Italianno",cursive;
    font-weight: 300;
    font-size: 60px;
    width: 50%;
    margin: auto
}

#hederTekst div {
    margin: 30px 0
}

#hederTekst div h1 {
    font-family: "Italianno",cursive;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 10px;
    font-size: 80px
}

#hederTekst div h1:nth-child(2) {
    text-transform: lowercase
}

#hederTekst p {
    font-family: "Playfair Display",serif;
    font-size: 17px;
    width: 50%;
    margin: auto;
    font-weight: 400
}

#drugiDeo {
    text-align: center;
    position: relative
}

#drugiDeo img {
    width: 70%;
    margin: 200px auto
}

#datum {
    font-size: 30px;
    color: #ffead5;
    font-family: "Playfair Display",serif
}

#datum ul {
    width: 500px;
    font-size: 50px;
    margin: 40px auto;
    border-radius: 23px;
    display: flex;
    justify-content: space-around;
    padding: 10px 22px;
    font-family: "Italianno",cursive
}

#datum li {
    width: 143px
}

.listaVreme {
    border-left: 2px solid #c4995f;
    border-right: 2px solid #c4995f;
    padding: 0 40px
}

#datum p {
    font-size: 18px;
    width: 250px;
    margin: auto
}

.elementVreme h1 {
    margin-bottom: 5px;
    font-family: "Italianno",cursive;
    font-size: 50px;
    color: #c4995f;
    font-weight: 400;
    text-shadow: 1.2px 1.2px 0 #e5e5e5,-1.2px 1.2px 0 #e5e5e5,1.2px -1.2px 0 #e5e5e5,-1.2px -1.2px 0 #e5e5e5
}

.elementVreme p {
    color: #c4995f;
    font-size: 15px;
    font-family: "Montserrat",sans-serif;
    font-weight: 400
}

.elementVreme {
    margin: 70px auto;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    z-index: 99
}

.elementVreme img {
    width: 100px;
    margin-bottom: 10px
}

.elementVreme a {
    color: #c4995f;
    font-size: 15px;
    letter-spacing: 2px;
    font-family: "Montserrat",sans-serif;
    margin-bottom: 5px
}

.elementVreme a:hover {
    color: #000;
    transition: 0.3s
}

#vremeDatum {
    position: relative;
    width: 100%
}

.sati {
    font-size: 45px!important;
    font-family: "Italianno",cursive!important
}

#tajmer {
    padding: 100px 0;
    margin-top: 0;
    text-align: center;
    position: relative;
    z-index: 99
}

#tajmer h1,#galerija h1 {
    font-family: "Playfair Display",serif;
    font-weight: 300;
    font-size: 50px;
    text-align: center
}

#tajmerBox {
    position: relative;
    z-index: 99;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 60px;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 50px
}

.box {
    padding: 8%;
    font-size: 70px;
    font-family: "Playfair Display",serif;
    margin: 10px;
    width: 150px;
    height: 150px;
    border: 4px solid #db9f56;
    border-radius: 50%
}

#tajmerBox p {
    font-size: 25px;
    font-family: "Playfair Display",serif;
    margin-top: 13px
}

#galerija {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 250px auto 150px auto;
    z-index: 99
}

#dugmeGalerija {
    margin: 80px auto 30px auto;
    position: relative;
    z-index: 99
}

#dostupno,#nedostupno {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    margin: 4.5px
}

#nedostupno {
    background-color: #be0a0a!important
}

#dugmeGalerija p {
    margin-top: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: #c4995f
}

add-to-calendar-button#css-part-example::part(atcb-button) {
    background-color: #c4995f;
    color: #fff
}

#dugmeGalerija a {
    font-size: 15px;
    padding: .8em;
    border-radius: 6px;
    font-family: "Montserrat",sans-serif;
    background-color: #c4995f;
    color: #fff;
    text-decoration: none;
    letter-spacing: .5px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(0 0 0 / 10%) 0 4px 10px -2px,rgba(0 0 0 / 15%) 0 2px 2px -1px;
    border: 1px solid #d2d2d2
}

#dugmeGalerija a:hover {
    box-shadow: rgba(0 0 0 / 25%) 0 5px 12px -2px,rgba(0 0 0 / 25%) 0 3px 5px -2px
}

#dugmeGalerija i {
    margin-right: 5px;
    color: #fff
}

#potvrdaTimer {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    font-family: "Playfair Display",serif;
    margin-bottom: 100px
}

#forma {
    width: 100%;
    background: url(../images/okvirForma.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 43% 0;
    position: relative
}

.tekstPisan {
    text-align: center;
    font-size: 30px;
    font-family: "Poppins",sans-serif;
    font-weight: 400
}

form {
    width: 100%;
    margin: auto;
    font-family: "Poppins",sans-serif;
    margin-top: 50px
}

ul {
    list-style-type: none
}

.greska {
    font-size: 13px;
    color: red;
    text-shadow: 1px 1px 1px #000c
}

form input,textarea,select {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    background-color: #fff;
    border: none;
    color: #000;
    border-radius: 20px
}

input[type="radio"] {
    width: auto
}

form ul li {
    width: 100%;
    margin-bottom: 30px
}

.radioDugme {
    width: auto
}

form span {
    font-size: 16px;
    font-weight: 400
}

.maliSpan {
    margin-top: 2px;
    font-size: 12px
}

option {
    color: #000
}

.dugme {
    background-color: #c4995f;
    padding: 10px 30px;
    border-radius: 20px;
    color: #fff;
    border: none;
    cursor: pointer
}

.dugme:hover {
    background-color: #c4995f;
    color: #fff;
    transition: 0.3s
}

.omotac {
    width: 50%;
    margin: auto;
    position: relative;
    z-index: 99
}

#levoRuze {
    position: absolute;
    width: 500px;
    top: 0;
    left: 0
}

#desnoRuze {
    position: absolute;
    width: 350px;
    right: 0;
    bottom: -100px;
    transform: rotate(180deg)
}

#levoPatern {
    position: absolute;
    bottom: -250px;
    left: 0;
    z-index: 1
}

#galerijaSlike {
    position: relative;
    z-index: 99
}

#datum {
    position: relative;
    z-index: 99
}

#treciDeo {
    position: relative
}

#veo {
    position: absolute;
    top: -300px;
    left: 0;
    width: 380px
}

#desnoPatern {
    width: 40%;
    position: absolute;
    bottom: -200px;
    right: 0
}

#separatorZlato {
    width: 100%;
    bottom: -350px;
    position: absolute
}

#potvrdaTekst {
    margin: 48px auto 30px auto;
    font-family: "Playfair Display",serif;
    text-align: center;
    width: 300px;
    color: #c4995f;
    font-size: 30px;
    position: absolute;
    top: -22%;
    left: 50%;
    transform: translateX(-50%)
}

footer {
    width: 100%;
    background-color: #fff0;
    padding: 60px 0;
    display: flex;
    justify-content: center
}

footer a img {
    width: 250px
}

.footerLink {
    font-size: 13px;
    color: #000;
    font-family: "Montserrat",sans-serif
}

footer ul li {
    text-align: center
}

.player {
    width: 90%;
    max-width: 300px;
    height: 445px;
    overflow: hidden;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 10px 10px 10px rgb(0 0 0 / .05);
    position: relative;
    background: rgb(255 255 255 / .1);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / .37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    border: 1px solid rgb(255 255 255 / .18);
    margin: 400px auto 50px auto;
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    z-index: 99
}

.bx {
    color: #ddd
}

.header {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    border-bottom: 1px solid #f5f5f5;
    font-size: 20px;
    font-weight: 700
}

.header span {
    font-weight: 400
}

.img {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 50%;
    background: linear-gradient(120deg,#fdc27b,#a76d3c);
    overflow: hidden;
    margin-top: 15px
}

.img img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    object-fit: cover;
    z-index: 9999
}

.img img.play {
    animation: 15s rotate linear infinite
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.details {
    text-align: center
}

.details p {
    color: #c2c2c2;
    font-size: 15px;
    margin-top: 5px
}

.action {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center
}

.action button {
    background: #fff;
    box-shadow: 5px 5px 10px 5px rgb(0 0 0 / .028);
    border-radius: 50%;
    padding: 10px;
    font-size: 28px;
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    margin: 10px;
    border: 2px solid #f8f8f8;
    cursor: pointer;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center
}

.action button.play {
    background: linear-gradient(135deg,#fdc27b,#a76d3c);
    color: #fff
}

.time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 10px auto;
    width: 90%;
    color: #777
}

#progress {
    margin: 0 auto;
    display: block;
    width: 90%;
    -webkit-appearance: none;
    height: 6px;
    background: #f7f7f7
}

#progress::-webkit-slider-thumb {
    background: #db9f56;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    background: linear-gradient(135deg,#fdc27b,#a76d3c);
    transition: 0.2s ease-in-out
}

.message {
    padding: 10px;
    margin: 362px 0;
    border: 1px solid #fff0;
    border-radius: 4px
}

.message.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.message.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

.gore {
    top: -35%!important
}

@media (max-width: 1300px) {
    #heder {
        width:70%
    }

    #datum ul {
        width: 500px
    }
}

@media (max-width: 900px) {
    #heder {
        width:70%
    }

    #hederTekst div h1 {
        font-size: 70px
    }

    #hederTekst h2 {
        font-size: 40px
    }

    #hederTekst p {
        font-size: 16px
    }

    #levoRuze {
        width: 450px
    }

    #desnoRuze {
        width: 300px
    }

    #hederTekst {
        top: 18%
    }

    .omotac {
        width: 60%
    }

    #potvrdaTekst {
        top: -190px;
        font-size: 22px
    }
}

@media (max-width: 700px) {
    #heder {
        width:80%
    }

    #hederTekst div h1 {
        font-size: 60px
    }

    #hederTekst h2 {
        font-size: 35px
    }

    #hederTekst p {
        font-size: 15px
    }

    #levoRuze {
        width: 400px
    }

    #desnoRuze {
        width: 300px
    }

    #drugiDeo img {
        width: 80%
    }

    #drugiDeo img {
        margin: 100px auto
    }

    #levoPatern {
        bottom: 0
    }

    .omotac {
        width: 70%
    }

    #potvrdaTekst {
        top: -150px;
        font-size: 22px
    }

    #veo {
        top: 0
    }
}

@media (max-width: 600px) {
    #levoRuze {
        width:350px
    }

    #desnoRuze {
        width: 200px
    }

    #heder {
        width: 90%
    }

    #hederTekst p,#hederTekst h2 {
        width: 80%
    }

    #drugiDeo img {
        width: 90%
    }

    #datum ul {
        width: 100%
    }

    .elementVreme img {
        width: 80px
    }

    .elementVreme a {
        font-size: 14px
    }

    #veo {
        width: 160px
    }

    #desnoPatern {
        bottom: 0;
        width: 300px;
        opacity: .6
    }

    .omotac {
        width: 80%
    }

    #tajmer h1,#galerija h1 {
        font-size: 40px
    }

    .box {
        font-size: 50px;
        width: 120px;
        height: 120px
    }

    #potvrdaTekst {
        margin: 30px auto 80px auto;
        font-size: 20px
    }

    #potvrdaTekst {
        top: -100px!important;
        font-size: 20px
    }

    #forma {
        padding: 60% 0
    }

    footer a img {
        width: 200px
    }

    #separatorZlato {
        bottom: -200px
    }

    .player {
        margin: 300px auto 50px auto
    }

    #datum ul {
        font-size: 40px
    }

    .listaVreme {
        width: 90px!important;
        padding: 0
    }

    #galerija {
        margin: 200px auto 100px auto
    }
}

@media (max-width: 550px) {
    #hederTekst div h1 {
        font-size:50px
    }

    #hederTekst p {
        font-size: 14px
    }

    #potvrdaTekst {
        top: -60px;
        font-size: 19px;
        width: 70%;
        margin: auto
    }

    #potvrdaTimer {
        font-size: 13px
    }
}

@media (max-width: 500px) {
    #heder {
        width:97%
    }

    #hederTekst h2 {
        font-size: 30px
    }

    #levoRuze {
        width: 300px
    }

    #hederTekst div h1 {
        font-size: 45px
    }

    #datum ul {
        width: 100%
    }

    #datum {
        font-size: 24px
    }

    #datum h1 {
        font-size: 48px
    }

    #datum p {
        font-size: 16px
    }

    .omotac {
        width: 90%
    }

    #potvrdaTekst {
        font-size: 16px
    }
}

@media (max-width: 450px) {
    #hederTekst {
        top:16%
    }

    #hederTekst p,#hederTekst h2 {
        width: 90%
    }

    #hederTekst p {
        font-size: 13px
    }

    #heder {
        width: 100%
    }

    #levoRuze {
        width: 280px
    }

    .listaVreme {
        width: 70px!important
    }
}
