@import url(https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap);* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html,body {
    height: 100%
}

ul {
    list-style-type: none
}

body {
    background-color: #fff;
    background: url(../images/pozadinaBody.webp)
}

#prviDeo {
    width: 100%;
    text-align: center;
    position: relative;
    background: url(../images/headerPozadina.webp);
    border-image: linear-gradient(to right,#8f7145,#e6ce90);
    border-image-slice: 1;
    border-bottom: 8px solid;
    padding-bottom: 100px
}

.gornjiPatern {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 2;
    opacity: .6
}

#naslovnaBox {
    position: relative;
    width: 50%;
    margin: auto;
    padding: 100px 0;
    z-index: 99
}

#naslovna {
    width: 100%;
    text-align: center
}

.prviNaslov,.drugiNaslov {
    position: absolute;
    font-family: "Italianno",cursive;
    font-size: 120px;
    text-shadow: 1px 1px 1px #fffc;
    color: #37302e;
    font-weight: 300
}

.prviNaslov {
    left: 10%
}

.drugiNaslov {
    right: 10%;
    bottom: 10%
}

.poziv {
    position: absolute;
    left: 12%;
    text-shadow: 1px 1px 1px #000c;
    color: #fff;
    font-size: 35px;
    font-family: "Italianno",cursive;
    font-weight: 300;
    margin-bottom: 10px;
    top: 90px
}

#datum {
    font-size: 30px;
    color: #ffead5;
    font-family: "Playfair Display",serif
}

#datum ul {
    width: 500px;
    font-size: 50px;
    margin: 40px auto;
    border-radius: 23px;
    display: flex;
    justify-content: space-around;
    padding: 10px 22px;
    font-family: "Italianno",cursive
}

#datum li {
    width: 143px
}

.listaVreme {
    border-left: 2px solid #ffead5;
    border-right: 2px solid #ffead5;
    padding: 0 40px
}

#datum p {
    font-size: 18px;
    width: 250px;
    margin: auto
}

#drugiDeo {
    background: url(../images/pozadinaBody.webp);
    border-image: linear-gradient(to right,#8f7145,#e6ce90);
    border-image-slice: 1;
    border-bottom: 8px solid;
    padding-bottom: 0
}

.elementVreme h1 {
    margin-bottom: 5px;
    font-family: "Italianno",cursive;
    font-size: 45px;
    color: #705a48;
    font-weight: 400
}

.elementVreme p {
    color: #705a48;
    font-size: 15px;
    font-family: "Montserrat",sans-serif;
    font-weight: 300
}

.elementVreme {
    margin: 70px auto;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    z-index: 99
}

.elementVreme img {
    width: 100px;
    margin-bottom: 10px
}

.elementVreme a {
    color: #705a48;
    font-size: 15px;
    letter-spacing: 2px;
    font-family: "Montserrat",sans-serif
}

.elementVreme a:hover {
    color: #ab926c;
    transition: 0.3s
}

#vremeDatum {
    position: relative;
    width: 100%
}

.slikaGore,.slikaDole {
    position: absolute;
    width: 350px
}

.slikaGore {
    top: 0;
    left: 0
}

.slikaDole {
    bottom: 0;
    right: 0
}

.sati {
    color: #ab926c!important;
    font-size: 42px!important;
    font-weight: 100;
    font-family: "Italianno",cursive!important
}

#okvir {
    width: 530px;
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translate(-50%)
}

#donjiPatern {
    position: absolute;
    top: -300px;
    left: 0;
    width: 100%;
    opacity: .8
}

#tajmer {
    width: 100%;
    margin: 200px 0 100px 0;
    text-align: center
}

#tajemrDrzac {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 50px auto 65px auto;
    text-align: center
}

.tacka {
    padding: 5px;
    width: 5px;
    height: 10px;
    border-radius: 50%;
    background-color: #705a48;
    margin: auto
}

.broj {
    font-size: 120px;
    color: #705a48;
    font-family: "Italianno",cursive
}

.brojTekst {
    font-family: "Playfair Display",serif;
    font-size: 30px;
    color: #705a48;
    text-transform: lowercase;
    margin-top: -40px
}

#tajmer h1,#galerija h1 {
    font-size: 50px;
    color: #705a48;
    font-family: "Playfair Display",serif;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 1px 1px 1px #fffc
}

#tajmer {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 200px
}

#galerija {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 0 0 100px 0
}

#dugmeGalerija {
    margin: 100px auto 30px auto;
    position: relative;
    z-index: 99
}

#dostupno,#nedostupno {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    margin: 5.4px;
    font-family: "Playfair Display",serif
}

#nedostupno {
    background-color: #be0a0a!important
}

#dugmeGalerija p {
    margin-top: 20px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    color: #705a48;
    margin-bottom: 100px;
    font-family: "Playfair Display",serif
}

add-to-calendar-button#css-part-example::part(atcb-button) {
    background-color: #705a48;
    color: #fff
}

#dugmeGalerija a {
    font-size: 15px;
    padding: .8em;
    border-radius: 6px;
    font-family: "Montserrat",sans-serif;
    background-color: #705a48;
    color: #fff;
    text-decoration: none;
    letter-spacing: .5px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(0 0 0 / 10%) 0 4px 10px -2px,rgba(0 0 0 / 15%) 0 2px 2px -1px;
    border: 1px solid #d2d2d2
}

#dugmeGalerija a:hover {
    box-shadow: rgba(0 0 0 / 25%) 0 5px 12px -2px,rgba(0 0 0 / 25%) 0 3px 5px -2px
}

#dugmeGalerija i {
    margin-right: 5px;
    color: #fff
}

#gornjiUkras {
    width: 500px;
    margin: 100px auto
}

#gornjiUkras img {
    width: 100%
}

.omotac {
    width: 50%;
    margin: auto;
    position: relative;
    z-index: 99
}

#forma {
    width: 100%;
    background: url(../images/forma.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-image: linear-gradient(to right,#8f7145,#e6ce90);
    border-image-slice: 1;
    border-bottom: 8px solid
}

#potvrda {
    padding: 100px 0
}

form {
    width: 100%;
    margin: auto;
    font-family: "Montserrat",sans-serif;
    margin-top: 50px
}

ul {
    list-style-type: none
}

.greska {
    font-size: 13px;
    color: red;
    text-shadow: 1px 1px 1px #000c
}

form input,textarea,select {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    background-color: #fff;
    border: none;
    color: #000;
    border-radius: 20px
}

input[type="radio"] {
    width: auto
}

form ul li {
    width: 100%;
    margin-bottom: 30px
}

.radioDugme {
    width: auto
}

form span {
    font-size: 16px;
    font-weight: 400;
    color: #fff
}

.maliSpan {
    margin-top: 2px;
    font-size: 12px;
    color: #fff
}

option {
    color: #000
}

.dugme {
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    color: #705a48;
    cursor: pointer
}

.dugme:hover {
    color: #fff;
    background-color: #705a48;
    transition: 0.3s
}

.tekstPisan {
    text-align: center;
    font-size: 30px;
    font-family: "Montserrat",sans-serif;
    text-shadow: 2px 4px 4px rgb(0 0 0 / .5);
    font-weight: 400;
    color: #fff
}

#potvrdaTekst {
    margin: 50px auto 15px auto;
    font-family: "Playfair Display",serif;
    text-align: center;
    width: 300px;
    color: #fff;
    font-size: 30px;
    text-shadow: 1px 1px 1px #000
}

#potvrdaTimer {
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
    color: #fff;
    font-family: "Playfair Display",serif;
    margin-bottom: 100px
}

#donjiUkras {
    width: 400px;
    margin: 50px auto 100px auto;
    position: relative;
    left: 50%;
    transform: translate(-50%)
}

footer {
    width: 100%;
    background-color: #bbb39f;
    padding: 60px 0;
    display: flex;
    justify-content: center
}

footer a img {
    width: 250px
}

.footerLink {
    font-size: 13px;
    color: #fff;
    font-family: "Montserrat",sans-serif
}

footer ul li {
    text-align: center
}

.isteklo {
    font-size: 50px;
    color: #705a48;
    padding-bottom: 100px
}

.player {
    width: 90%;
    max-width: 300px;
    height: 445px;
    overflow: hidden;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 10px 10px 10px rgb(0 0 0 / .05);
    position: relative;
    background: rgb(255 255 255 / .1);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / .37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    border: 1px solid rgb(255 255 255 / .18);
    margin: 200px auto 200px auto;
    font-family: "Montserrat",sans-serif;
    font-weight: 300
}

#title {
    color: #63462e
}

.header {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    border-bottom: 1px solid #f5f5f5;
    font-size: 20px;
    font-weight: 700;
    color: #fff
}

.header span {
    color: #63462e
}

.img {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 50%;
    background: linear-gradient(120deg,#ffa17f,#63462e);
    overflow: hidden;
    margin-top: 15px
}

.img img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    object-fit: cover;
    z-index: 9999
}

.img img.play {
    animation: 15s rotate linear infinite
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.details {
    text-align: center
}

.details p {
    color: #777;
    font-size: 15px;
    margin-top: 5px
}

.action {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center
}

.action button {
    background: #fff;
    box-shadow: 5px 5px 10px 5px rgb(0 0 0 / .028);
    border-radius: 50%;
    padding: 10px;
    font-size: 28px;
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    margin: 10px;
    border: 2px solid #f8f8f8;
    cursor: pointer;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center
}

.action button.play {
    background: linear-gradient(135deg,#e2b8a6,#63462e);
    color: #fff
}

.time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 10px auto;
    width: 90%;
    color: #777
}

#progress {
    margin: 0 auto;
    display: block;
    width: 90%;
    -webkit-appearance: none;
    height: 6px;
    background: #f7f7f7
}

#progress::-webkit-slider-thumb {
    background: #63462e;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    background: linear-gradient(135deg,#d4c2b3,#63462e);
    transition: 0.2s ease-in-out
}

.message {
    padding: 10px;
    margin: 50px 0;
    border: 1px solid #fff0;
    border-radius: 4px
}

.message.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.message.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

@media (max-width: 1200px) {
    #naslovnaBox {
        width:60%
    }

    #datum ul {
        width: 500px
    }
}

@media (max-width: 1000px) {
    #naslovnaBox {
        width:70%
    }

    .slikaGore,.slikaDole {
        width: 250px
    }

    .omotac {
        width: 60%
    }
}

@media (max-width: 900px) {
    #naslovnaBox {
        width:80%
    }

    .prviNaslov {
        left: 0
    }

    .drugiNaslov {
        right: 0
    }

    .poziv {
        left: 2%
    }

    .prviNaslov,.drugiNaslov {
        font-size: 100px
    }
}

@media (max-width: 800px) {
    .slikaGore,.slikaDole {
        width:200px
    }

    #tajmer {
        margin: 310px 0 100px 0
    }

    #tajemrDrzac {
        width: 80%
    }

    .omotac {
        width: 70%
    }
}

@media (max-width: 700px) {
    .prviNaslov,.drugiNaslov {
        font-size:70px
    }

    .prviNaslov {
        left: 3%
    }

    .drugiNaslov {
        right: 7%
    }

    .poziv {
        font-size: 28px;
        top: 85px;
        left: 4%
    }

    #naslovnaBox {
        width: 100%
    }

    .omotac {
        width: 75%
    }
}

@media (max-width: 600px) {
    .prviNaslov,.drugiNaslov {
        font-size:75px
    }

    .drugiNaslov {
        right: 9%;
        bottom: 14%
    }

    #naslovna {
        margin: 60px auto
    }

    .prviNaslov,.drugiNaslov {
        font-size: 80px
    }

    #datum ul {
        width: 100%
    }

    #naslovnaBox {
        padding: 70px 0
    }

    .poziv {
        top: 58px
    }

    #okvir {
        width: 450px;
        top: -80px
    }

    .elementVreme img {
        width: 72px
    }

    .elementVreme h1 {
        margin-bottom: 3px;
        font-size: 40px
    }

    .slikaGore,.slikaDole {
        width: 150px
    }

    .slikaDole {
        bottom: 170px
    }

    .slikaGore {
        top: 125px
    }

    #tajemrDrzac {
        width: 95%;
        flex-wrap: wrap
    }

    .tajmerBox {
        width: 100%
    }

    .tacka {
        margin: 40px auto 0 auto
    }

    #gornjiUkras,#donjiUkras {
        width: 90%
    }

    #tajmer h1,#galerija h1 {
        font-size: 45px
    }

    .omotac {
        width: 80%
    }

    #potvrdaTekst {
        font-size: 20px
    }

    #tajmer {
        margin: 150px 0 100px 0
    }

    #gornjiUkras {
        margin: 50px auto
    }

    footer a img {
        width: 200px
    }

    .player {
        margin: 200px auto 200px auto
    }

    .elementVreme {
        margin: 50px auto
    }

    .elementVreme:first-of-type {
        margin-top: 20px
    }

    #datum ul {
        font-size: 40px
    }

    .listaVreme {
        width: 90px!important;
        padding: 0
    }
}

@media (max-width: 500px) {
    #datum ul {
        width:100%
    }

    #datum {
        font-size: 24px
    }

    #datum h1 {
        font-size: 38px
    }

    #okvir {
        width: 400px
    }

    .slikaGore,.slikaDole {
        width: 120px
    }

    .elementVreme img {
        width: 50px
    }

    #okvir {
        top: -85px;
        width: 400px
    }

    .elementVreme {
        margin: 50px auto
    }

    .elementVreme h1 {
        font-size: 35px
    }

    .elementVreme a {
        font-size: 14px
    }

    .broj {
        font-size: 100px
    }

    .brojTekst {
        font-size: 28px
    }

    #tajmer h1,#galerija h1 {
        font-size: 40px
    }

    .omotac {
        width: 90%
    }

    .sati {
        font-size: 40px!important
    }

    .elementVreme p {
        font-size: 14px
    }

    .player {
        margin: 150px auto 150px auto
    }

    .elementVreme:first-of-type {
        margin-top: 0
    }
}

@media (max-width: 460px) {
    #okvir {
        width:360px;
        top: -50px
    }

    .elementVreme {
        margin: 35px auto
    }

    .slikaGore,.slikaDole {
        width: 110px
    }

    #tajmer h1,#galerija h1 {
        font-size: 38px
    }

    .broj {
        font-size: 90px
    }

    .brojTekst {
        font-size: 25px
    }

    .listaVreme {
        width: 70px!important
    }
}

@media (max-width: 400px) {
    #naslovna {
        margin:65px auto
    }

    .prviNaslov,.drugiNaslov {
        font-size: 70px
    }

    .elementVreme h1 {
        font-size: 32px
    }

    .slikaGore,.slikaDole {
        width: 100px
    }
}

@media (max-width: 370px) {
    #okvir {
        width:96%;
        top: -30px
    }

    .elementVreme {
        margin: 20px auto
    }
}
